<div id='menu'>
    <img class='profile' src='assets/image/profile.png' alt='photo profile de caroline cella' />

    <nav>
        <ul>
            <li class='blue-flower'><a href='index.php' class='button-link'>Accueil</a></li>
            <li class='green-flower'><a href='reki.php' class='button-link'>Reiki</a></li>
            <li class='purple-flower'><a href='sophrologie.php' class='button-link'>Sophrologie</a></li>
            <li class='orange-flower'><a href='about.php' class='button-link'>Qui&nbsp;suis&#8209;je&nbsp;?</a></li>
        </ul>
    </nav>

    <address class='contact'>
        <div class='info'>17 rue Dr Rollet 69100 Villeurbanne</div>
        <div class='info'>06 18 37 17 64</div>
        <div class='info'>sophro.cella@gmail.com</div>

        <a href="https://www.google.com/maps/place/17+Rue+Dr+Rollet,+69100+Villeurbanne/@45.7676928,4.8823755,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4c031e81c7b3d:0xd12c7177a3550cc8!8m2!3d45.7676891!4d4.8845642">
            <img class='map' src='assets/image/map.png' alt='carte 17 rue dr rollet Villeurbanne' />
        </a>
    </address>
</div>

<address class='contact-small'>
        <div class='info'>17 rue Dr Rollet 69100 Villeurbanne</div>
        <div class='info'>06 18 37 17 64</div>
        <div class='info'>sophro.cella@gmail.com</div>

        <a href="https://www.google.com/maps/place/17+Rue+Dr+Rollet,+69100+Villeurbanne/@45.7676928,4.8823755,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4c031e81c7b3d:0xd12c7177a3550cc8!8m2!3d45.7676891!4d4.8845642">
            <img class='map' src='assets/image/map.png' alt='carte 17 rue dr rollet Villeurbanne' />
        </a>
</address>