@font-face {
  font-family: 'sofia';
  src: url('assets/font/Sofia-Regular.otf');
}

* {
  font-size: 120%;
  font-family: 'sofia';
  font-weight: unset !important;
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

h3 {
  font-size: 140%;
}

.button-link {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.contact-small {
  display: none;
}

.bold {
    font-weight: bold !important;
}

.normal {
    font-size: 24px !important;
}

.cinquanteE {
  font-size: 25px;
}

body {
  background-color: #e1b192;
  background-image: url('assets/image/bg.png');
  background-attachment: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#content {
  background-color:#f0dbbb;
  margin-left: auto;
  border: white solid 4px;
  margin-right: 0px;
  width: 71%;
}

#title {
  z-index: 100;
  color: white;
  text-align: center;
  position: fixed;
  background-color: #3f0f46;;
  padding-left: 1%;
  padding-right: 1%;
  background-image: url('assets/image/abstract-beautiful-beauty-217763.png');
  background-size: 73%;
  border: 4px solid white;
  border-top: 0px;
  border-radius: 60px 1px 82px 5px;
  top: -19px;
}

#title h1 {
  font-size: 58px !important;
  font-size: 66px;
  padding: 0px;
  margin-top: 1%;
  text-align: center;
}

#title h2 {
  font-size: 45px;
  text-align: center;
}

#text, #modalite, #prix, #info-complementaire, #duree, .contact, #access, #info-complementaire, .sub-title {
  font-size: 24px;
  font-style: italic;
  color: black;
  margin-left: 13px;
  margin-right: 16px;
  margin-bottom: 64px;
  line-height: 59px;
}

.contact {
    line-height: 46px !important;
}

.info {
  font-size: 23px;
  margin-left: 5px;
}

.info-complementaire {
  font-weight: initial;
}

#info-complementaire p {
  font-weight: initial;
}

.mail {
  font-weight: initial;
  font-size: 1em;
}

#text {
  margin-top: 254px;
}

.contact {
  font-size: 20px;
  margin-bottom: 0px;
}

#menu {
  position: fixed;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold !important;
}

.map {
  width: 31%;
}

.profile {
  width: 10%;
  margin-left: 135px;
}

#menu li {
  display: block;
  border: white 2px solid;
  background-image: url('assets/image/abstract-beautiful-beauty-217763.png');
  background-size: 73%;
  width: 360px;
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 8px;
  border-radius: 60px 1px 82px 5px;
  transition: border-radius 200ms;
  cursor: pointer;
}

#menu li:hover {
  border-radius: 14px;
  transition: border-radius 200ms;
}

.green-flower { 
  background-image: url('assets/image/green-flower.png') !important;
}

.orange-flower { 
  background-image: url('assets/image/orange-flower.png') !important;
}

.blue-flower { 
  background-image: url('assets/image/blue-flower.png') !important;
}

.purple-flower { 
  background-image: url('assets/image/purple-flower.png') !important;
}